.layout {
  width: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  height: 100%;
  margin-bottom: -1rem;
  /* position: sticky; */
  bottom: 0;
  top: 0;
}

.layout-children {
  overflow-x: scroll;
  height: 100%;
  margin: auto;
  padding: auto;
}

.form search-form {
  /* margin-top: 10px; */

  background-color: #33749b;
}
