.layout {
  width: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  height: 100%;
  margin-bottom: -1rem;
}

.form search-form {
  margin-top: 10px;

  background-color: #33749b;
}

@media only screen and (min-width: 769px) {
  .layout-children {
    padding: 8rem;
  }
}
