.create-form {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}


.input-subject, .textarea-content {
  font-size: 1.4em;
  font-family: Comfortaa;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  
  
}

.submit-button {
  font-size: 18px;
  font-family: Comfortaa;
  height: 40px;
  margin-top: 40px;
  background-color: #134762;
  color: #FFC3B4;
  border: none;
  box-shadow: 2px 2px 10px 2px #89858B;
  cursor: pointer;
}

