.storefront-social-posts {
  display: grid;
  column-count: 2;
  column-gap: 12px;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr auto; */
  break-inside: avoid;
  justify-content: center;
}

.single-post {
  margin: 5px;
  height: auto;
  width: 97%;
}

div.single-post > div.post-of-posts {
  grid-row: 1 / -1;
  grid-column: 1;
  display: block;
  height: auto;
}

.post-of-posts {
  text-align: center;
}

@media only screen and (min-width: 769px) {
  .storefront-social-posts {
    column-count: 3;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
