.storefront-social-posts {
  display: grid;
  column-count: 2;
  column-gap: 12px;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr auto; */
  break-inside: avoid;
  justify-content: center;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
div.layout {
  height: 100;
}

.single-post {
  margin: auto;
  height: auto;
  width: 97%;
}

form.search-form {
  margin-left: auto;
  width: max-content;
  margin-right: auto;
}

div.single-post > div.post-of-posts {
  grid-row: 1 / -1;
  grid-column: 1;
  display: block;
  height: fit-content;
}

.post-of-posts {
  text-align: center;
}

@media only screen and (min-width: 769px) {
  .storefront-social-posts {
    column-count: 3;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1150px) {
  .storefront-social-posts {
    column-count: 4;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
