body {
  height: 100%;
  width: 100%;
  background-color: #33749b;
  overflow-x: hidden;
}
.app {
  height: 100%;
}
label {
  font-family: "Comfortaa";
}
div {
  overflow-y: scroll;
}

@media only screen and (min-width: 769px) {
  div {
    overflow-y: unset;
  }
}
