.sort-container {
  display: flex;
  /*  */
  /* justify-items: space-around; */
  /* margin: 20px; */
}

label {
  margin-left: 1rem;
  font-size: 18px;
  font-family: Consolataa;
  font-weight: bold;
  padding-right: 10px;
}

select {
  cursor: pointer;
  border: none;
  font-size: 18px;
  margin: 20px;
  width: 40vw;
}
