.sort-container {
  display: flex;
  /*  */
  justify-content: flex-end;
  /* margin: 20px; */
}

label {
  font-size: 18px;
  font-family: Consolataa;
  font-weight: bold;
  padding-right: 10px;
}

select {
  cursor: pointer;
  border: none;
  font-size: 18px;
  margin: 20px;
  width: 25vw;
}
