.edit-textarea-content,
.edit-input-subject {
  font-family: "Comfortaa";
  color: #ffd5ac;
  background-color: #134762;
  margin-top: 0.4rem;
  text-align: center;
  padding: 10px;
}
.post-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-family: 'Comfortaa';
color: #ffd5ac;
text-shadow: 2px 2px #134762;
}

.subject-container {
  font-family: Comfortaa;
  color: #ffc3b4;
  background-color: #134762;
}
.content-container {
  font-family: Comfortaa;
  color: #ffc3b4;
  background-color: #134762;
}
.date-container {
  font-family: Comfortaa;
  color: #ffc3b4;
  background-color: #134762;
  text-decoration: none;
}

.edit-form {
  display: flex;
  flex-direction: column;
  font-family: Comfortaa;
  line-height: 1.6;
  margin-top: 10px;
  text-decoration: none;
  font-family: Comfortaa;
  color: #ffc3b4;
  padding: 50px;
  box-shadow: 5px 5px #ffc3b4;
}

.save-button {
  font-size: 18px;
  font-family: Comfortaa;
  height: 40px;
  margin-top: 40px;
  background-color: #134762;
  color: #FFC3B4;
  border: none;
  box-shadow: 2px 2px 10px 2px #89858b;
  cursor: pointer;
}
.subject-container , .content-container , .date-container {
  padding: 15px;
}

.post-edit h4 {
font-size: 30px;  
}
