.signin-heading {
  margin-top: 80px;
  font-size: 24px;
  text-align: center;
  text-shadow: 2px 2px 1px #134762;
}
button {
  width: 25%;
  background-color: #27cfa4;
  color: #ffd5ac;
  font-family: "Comfortaa";
  text-shadow: 2px 2px 1px #134762;
  font-size: 1em;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 25px;
}

.signin-label {

  color: #ffd5ac;
  background-color: #318b9e;
  height: 100vh;
  text-align: center;
  text-shadow: 2px 2px 1px #134762;
}